* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
    color: var(--white);
    scroll-behavior: smooth;
  }
  
  h1,
  h3 {
    user-select: none;
  }
  
  body {
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  :root {
    /* fonts */
    --font-title: "Oleo Script", sans-serif;
    --font-subtitle: "Catamaran", sans-serif;
    --font-default: "Poppins", sans-serif;
  
    /* colors */
    --bg-color: #212121;
    --yellow: #fcc632;
    --orange: #e48d1c;
    --brown: #af5008;
    --gray: #c0c0c0;
    --white: #e9e9e9;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    color: transparent;
    background-color: var(--bg-color);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--orange);
  }
  
  #fundo1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(45%);
    object-fit: cover;
    z-index: -2;
  }
  
  #gradient1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0%,
        transparent 50%,
        var(--bg-color) 100%);
  }
  
  .header1 {
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background: linear-gradient(rgba(21, 21, 21, 1) 0%, transparent 510%);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    border-bottom: 1px solid var(--yellow);
  }
  
  .header1 a img {
    position: relative;
    top: 5px;
    margin-left: 20px;
    width: 130px;
    height: auto;
  }
  
  .nav-btn1 {
    position: relative;
    font-family: var(--font-default);
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
    transition: 0.2s;
    user-select: none;
    padding-right: 465px;
  
    font-family: var(--font-title);
    color: var(--yellow);
    font-size: 3.0em;
    word-spacing: -1px;
    letter-spacing: -1px;
  }
  
  .nav-btn1::before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 0;
    transition: 0.5s ease;
  }
  
  .nav-btn1:hover::before {
    width: 100%;
  }
  
  .main1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main1 h4 {
    font-family: var(--font-subtitle);
    font-weight: 200;
    font-size: 0.7em;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  .main1 h1 {
    font-family: var(--font-title);
    color: var(--yellow);
    font-size: 3.6em;
    word-spacing: 3px;
    letter-spacing: -1px;
    font-weight: 100;
    margin-bottom: 15px;
  }
  
  .main1 h3 {
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 15px;
    font-family: var(--font-subtitle);
  }
  
  .menu1 {
    position: absolute;
    top: 300%;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  
  .menu1 h1 {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 13%;
    font-size: 2.5em;
    font-weight: 500;
  }
  
  .content1 {
    position: relative;
    user-select: none;
    bottom: 0;
    width: 100%;
    /* background-color: lime; */
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .content1 .card1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border: 2px solid var(--yellow);
    width: 300px;
    height: 400px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
  }
  
  .content1 a:first-child .card1 {
    background: linear-gradient(135deg, #9d6350 0%, #934510 100%);
  }
  
  .content1 a:first-child .card1 img {
    position: relative;
    width: 90%;
    height: auto;
    filter: brightness(80%);
    filter: drop-shadow(5px 10px 5px var(--bg-color));
  }
  
  .content1 a:nth-child(2) .card1 {
    background: linear-gradient(135deg, #97e795 0%, #41a553 100%);
  }
  
  .content1 a:nth-child(2) .card1 img {
    position: relative;
    left: 00%;
    width: 90%;
    height: auto;
    object-fit: cover;
    filter: brightness(80%);
    filter: drop-shadow(5px 10px 5px var(--bg-color));
  }
  
  .content1 a:nth-child(3) .card1 {
    background: linear-gradient(135deg, #e48d1c 0%, #c35b08);
  }
  
  .content1 a:nth-child(3) .card1 img {
    position: relative;
    width: 90%;
    height: auto;
    filter: brightness(80%);
    filter: drop-shadow(5px 10px 5px var(--bg-color));
  }
  
  .content1 a:nth-child(4) .card1 {
    background: linear-gradient(135deg, #e9a5e7 0%, #a583b4);
  }
  
  .content1 a:nth-child(4) .card1 img {
    position: relative;
    width: 90%;
    height: auto;
    filter: drop-shadow(5px 10px 5px var(--bg-color));
  }
  
  .content1 .card1 img {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
  }
  
  .desc1 {
    position: absolute;
    display: flex;
    user-select: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 190px;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    background-color: var(--orange);
    transition: 0.2s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 2px solid var(--brown);
  }
  
  .desc1 h3 {
    font-size: 2em;
  }
  
  .desc1 h5 {
    color: var(--white);
    text-decoration: line-through;
    text-decoration-color: var(--bg-color);
  }
  
  .desc1 .p1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .card1 .p1 {
    position: absolute;
    top: 10px;
    transition: 0.2s ease-in-out;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-family: var(--font-subtitle);
  }
  
  .content1 .card1:hover .p1 {
    font-size: 0em;
  }
  
  .content1 .card1:hover {
    transform: translateY(-15px);
  }
  
  .content1 .card1:hover .desc1 {
    opacity: 1;
  }
  
  .content1 .card1:hover img {
    filter: brightness(100%);
    transform: translateY(-50%);
  }
  
  #burgerr {
    position: absolute;
    width: 600px;
    filter: brightness(20%);
    left: 40%;
    z-index: -5;
    height: auto;
  }
  
  #coffeee {
    position: absolute;
    filter: brightness(20%);
    right: 0;
    width: 500px;
    z-index: -5;
    height: auto;
  }
  
  #coffeejarr {
    position: absolute;
    filter: brightness(20%);
    left: 20%;
    bottom: 0;
    width: 200px;
    z-index: -5;
    height: auto;
  }
  
  #friess {
    position: absolute;
    left: 0%;
    filter: brightness(20%);
    z-index: -5;
    top: 0;
    width: 500px;
    height: auto;
  }
  
  .slgdcs1 {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .salgados1,
  .doces1,
  .mkssrv1,
  .cffgrl1 {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .salgados1 {
    border-right: 1px solid var(--brown);
  }
  
  .minicard1 {
    overflow: hidden;
    width: 450px;
    height: 100px;
    display: flex;
    /* background-color: lime; */
  }
  
  .minicard1 img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--yellow);
  }
  
  .gldbbd1 {
    position: absolute;
    top: 200%;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .mkssrv1 {
    border-right: 1px solid var(--brown);
  }
  
  .desc222 {
    position: relative;
    width: 350px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .preco2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
  
  
    text-decoration: none;
    text-decoration-color: var(--orange);
  }
  
  .preco1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
  
    
    text-decoration: none;
  
  }
  .CartBtn1 {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer1 {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text1 {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
    text-decoration: none;
  }
  
  .CartBtn1:hover .IconContainer1 {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn1:hover .text1 {
    transform: translate(10px, 0px);
    transition-duration: .5s;
  }
  
  .CartBtn1:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }
  
  .btnmenu11 {
    top: 290%;
    left: 46.5%;
    display: inline-block;
    margin-right: 20px;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    border-radius: 1px;
    color: var(--white);
    border: 1px solid var(--yellow);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    transition: 0.2s;
  }
  
  .btnmenu11::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    transform: translateY(-100%);
    transition: all 0.3s;
    z-index: -1;
  }
  
  .btnmenu11:hover::before {
    transform: translateX(0);
  }
  
  .btnmenu11:hover {
    color: var(--bg-color);
  }
  
  
  
  
  
  
  